.signup-container{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background-image: url("/images/back.webp");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
font-family:Arial, Helvetica, sans-serif;
}

.signup-card{
width:420px;
background:rgb(0,0,0,0.5);
padding:25px;
border-radius:12px;
box-shadow:0 20px 40px rgba(252, 252, 252, 0.973);
margin-top: 15px;
margin-bottom: 10px;
color:white;
}

.signup-card h2{
text-align:center;
margin-bottom:20px;
color:white;
}

.form-group{
margin-bottom:15px;
display:flex;
flex-direction:column;
}

.form-group label{
font-size:14px;
margin-bottom:5px;
color:white;
}

.form-group input{
padding:10px;
border-radius:6px;
border:1px solid #d1d5db;
font-size:14px;
outline:none;
}

.form-group input:focus{
border-color:#6366f1;
box-shadow:0 0 0 2px rgba(99,102,241,0.2);
}

.signup-btn{
width:100%;
margin-top:15px;
padding:12px;
background:#018bb1;
border:none;
border-radius:6px;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.signup-btn:hover{
background:#018bb1;
}

.login-link{
text-align:center;
margin-top:15px;
font-size:14px;
}

.login-link span{
color:#018bb1;
cursor:pointer;
font-weight:600;
}